:root{
    --BG-COLOR: #fff;
    --ACCENT-COLOR: #ccc;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--BG-COLOR);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--ACCENT-COLOR)
}
header .logo {
    width: 130px;
}
header .bx {
    width: 130px;
}